<table border="1" align="center">
	<caption><h2>Libreta de Direcciones</h2></caption>
		<thead>
			<tr>
				<th>idUser</th>
				<th>phase</th>
				<th>points</th>
				</tr>
		</thead>
<?php
	include 'Conexion.php';
	$Datos="SELECT * FROM tournaments";
	$Dato=mysql_query($Datos) or die (mysql_error());
	$arraydatos=array();
	while($dato=mysql_fetch_array($Dato , MYSQL_ASSOC))
	{$arraydatos[]=$dato;}
	foreach($arraydatos as $datos)
	{
		$idUser=$datos['idUser'];
		$phase = $datos['phase'];
		$points= $datos['points'];
		?>
		<tbody>
				<tr>
					<td><?php echo $idUser;?></td>
					<td><?php echo $phase;?></td>
					<td><?php echo $points;?></td>
                </tr> 
		<?php
	}
?>
</tbody>
</table>
<center>
<form action="points.html">
	<input type="submit" value="Actualizar">
</form>
</center>